@import "../core/variables";

.landing-page {
  &__item {
    max-width: 30rem;
  }
  &__textarea {
    border: 0.1rem solid;
    border-color: $grey;
    border-radius: 0.4rem;
    min-height: 5rem;
    resize: none;
    height: fit-content;
    width: 100%;
    padding: 0.5rem;
    max-height: 7rem;
    overflow: auto;
  }
  &__slider {
    margin: 1rem;
    width: 90%;
  }
  &__textarea:hover {
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.1), 0 0 0.2rem rgba(0, 0, 0, 0.3);
  }
  &__tabs {
    display: flex;
    flex-direction: row;
    // align-items: center;
    padding: 1rem 0 5rem 0;
  }
  &__conatiner {
    padding: 7rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__heading {
    // color: $black;
    // // text-align: center;
    padding: 2rem;
  }
  &__carausal {
    align-items: center;
    width: 30rem;
    height: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__carausal-image {
    width: 30rem;
    height: 20rem;
    display: inline-flex !important;
  }
}
