@import "../core/variables";

.enquire {
  &__textarea {
    border: 0.1rem solid;
    border-color: $grey;
    border-radius: 0.4rem;
    min-height: 5rem;
    resize: none;
    height: fit-content;
    width: 100%;
    padding: 0.5rem;
    max-height: 7rem;
    overflow: auto;
  }
  &__truncate {
    overflow: auto !important;
    white-space: unset;
    width: 60%;
  }
  &__no-show {
    text-align: center;
    padding: 5rem;
    color:$gray;
  }
  &__req-display {
    padding-top: 0.3rem;
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
  }
  &__find-btn {
    margin-left: 1rem !important;
  }
  &__req-image {
    margin-left: 1rem; 
    width: 8rem;
    height: 5rem;
    border-radius: 0.4rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1), 0 0 0.5rem rgba(0, 0, 0, 0.3);
  }
  &__slider {
    margin: 1rem;
    width: 90%;
  }
  &__textarea:hover {
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.1), 0 0 0.2rem rgba(0, 0, 0, 0.3);
  }
  &__container {
    min-height: 25rem;
  }
  &__heading {
    // color: $black;
    // // text-align: center;
    padding: 2rem;
  }
}
